<header>
  <div class="menu_bar">
      <a href="#" class="bt-menu">
          <span class="icon-menu"></span>Menú</a>
      </div>
      <nav>
<ul>
  <li><a href="inicio"><span class="icon-home2"></span>Inicio</a></li>
  <li class="submenu">
  <a href="proyectos"><span class=""></span>Proyectos</a>
  <ul class="children">
      <li><a href="#">Proyecto #1<span class="icon-dot"></span></a></li>
      <li><a href="#">Proyecto #2<span class="icon-dot"></span></a></li>
      <li><a href="#">Proyecto #3<span class="icon-dot"></span></a></li>
    </ul>
  </li>
  <li><a href="creaunacolecta"><span class="icon-rocket"></span>Crea una colecta</a></li>
  <li><a href="comodonar"><span class="icon-dot"></span>Como donar</a></li>
    <li><a href="quienessomos"><span class="icon-dot"></span>Quienes somos</a></li>
      <li><a href="contacto"><span class="icon-mail"></span>Contacto</a></li>
      <li><a href="login"><span class=""></span>login</a></li>
</ul>
</nav>

</header>