
<div id="modal">

    <div class="modal-content">
      <div class="modal-header">
        <h2>Ingresar</h2>
        <span class="close">&times;</span>
      </div>
      <div class="imagenavatar">
        <img src="/assets/img/img_avatar2.png" alt="" class="avatarimagen">
      </div>
      <div class="modal-body">
        <div>
          <form action="" class="ingresoform">
            <label for="">Ingresa usuario</label>
            <br>
            <input type="email" required>
            <br>
            <label for="">Ingresa contraseña</label>
            <br>
            <input type="password">
  
  
            <div class="botones">
              <button>enviar</button>
              <button>cerrar</button>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footerer">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores id non, hic distinctio, eligendi eos dolor repudiandae
          sed ab itaque odit, molestias atque architecto. Autem eligendi facere fugit unde mollitia!</p>
      </div>
    </div>
  
  
  </div>
  
